<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Removed Products</title>
</head>
<body>
    <h1>Add Removed Products</h1>
    <form action = '/add-removed-products' method = 'post'>
        <select name = 'productId'>
            {% for item in data %}
                <option value = {{item[0]}}>{{ item[1] }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Submit" name = 'submit-add_removed_products'>
    </form>
</body>
</html>