<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1><br><br><br>
    <table cellpadding="10px" cellspacing="10px" border="4px">
        <tr>
            <th>Name
            <th>Price
            <th>Time Required
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
            </tr>
        {% endfor %}
     </table>
</body>
</html>