<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Report</title>
</head>
<body>
    <h1>Sales Report</h1>
    <form action = '/report' method = 'post'>
        <input type = 'date' name = 'from'>
        <input type = 'date' name = 'to'>
        <input type = 'submit' name = 'submit-report'>
    </form>
    {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
        </tr>
    {% endfor %}
</body>
</html>