<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Report</title>
</head>
<body>
    <h1>Sales Report</h1>

    <form action = '/report' method = 'post'>
        <input type = 'date' name = 'from' value = {{searchedDates[0] }}>
        <input type = 'date' name = 'to' value = {{ searchedDates[1] }}>
        <input type = 'submit' name = 'submit-report'>
    </form>
    <table cellpadding="10px" cellspacing="10px" border="4px">
        <tr>
            <th>Order Id
            <th>Order Date
            <th>Completion Date
            <th>Status
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>